@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.DetailBlock)Model.Content;
}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <p class="card-title">@content.Value("Phone")</p>
        <p class="card-text">@content.Value("Address")</p>
        <p class="card-text">@content.Value("Email")</p>
    </div>
</div>