.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    margin-right: 10px;
}


.press-item-list {
    list-style-type: none;
    padding: 0; 
}

.press-item {
    margin-bottom: 10px;
    padding: 10px;
}
